/*CARD SECTION*/
.content {padding: 30px 0px;/*min-height: calc(100vh - 123px);*/}
.card {
    border-radius: 6px;
    box-shadow: 0 2px 2px rgb(204 197 185 / 50%);
    background-color: #fdfdfd;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px 3px #ccc;
}
.card .content {
    padding: 15px 15px 10px 15px;
}
.card .icon-big {
    font-size: 3em;
    min-height: 64px;
}
.icon-warning {
    color: #F3BB45;
}
.card .numbers {
    font-size: 2em;
    text-align: right;
}
.card .numbers p {
    margin: 0;
}
.card .footer {
    padding: 0;
    line-height: 30px;
}
/*CARD SECTION END*/
/*Login Signup Page*/


/*Sidebar*/

.sidebar-container {
  position: relative;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: transparent;
  color: #fff;
}

.content-container {
  padding-top: 20px;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 20px;
  background-color: #2574A9;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #333;
  border: 1px solid #0f8be1;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li:active{
  text-decoration: none;
  outline: none;
  background-color: #0f8be1;
  color: #fff;
}
.sidebar-navigation ul li a.active{
  text-decoration: none;
  outline: none;
  background-color: #0f8be1 !important;
  color: #fff;
}


.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
  background-color: #0f8be1;
  color: #fff;
}

.sidebar-navigation li::before {
  background-color: #2574A9;
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #151515;
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.img-thumbnail{margin-bottom: 15px;}
.file-upload{margin-top: 15px;}
input[type=email].form-control, input[type=text].form-control, input[type=password].form-control, textarea.form-control {height: 60px !important;}




.btn_details{background-color: #0f8be1; color: #ffffff; padding: 4px 10px;border: 0;border-radius: 10px;}
.modal-header .close {
    margin-top: -45px !important;
    margin-right: -30px !important;
}
button.close {
    -webkit-appearance: none;
    padding: 0 !important;
    cursor: pointer !important;
    background: #ff0000 !important;
    border: 0 !important;
    border-radius: 50px !important;
    width: 33px !important;
    height: 33px;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    filter: alpha(opacity=20);
    opacity: 1;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 1;
}







/*CSS*/

@media (max-width: 320px)
.shipment {
    margin-left: 19%;
}
@media (max-width: 375px)
.shipment {
    margin-left: 17%;
}
@media (max-width: 384px)
.shipment {
    margin-top: 11%;
}
@media (max-width: 414px)
.shipment {
    margin-left: 16%;
}
@media (max-width: 667px)
.shipment {
    margin-top: 13%;
}
@media (max-width: 1366px)
.shipment {
    margin-top: 10%;
}
@media (max-width: 1920px)
.shipment {
    margin-top: 6%;
}
.shipment {
    width: 100%;
    margin-top: 4%;
}

@media (max-width: 414px)
.confirm {
    width: 100%;
}

@media (max-width: 568px)
.confirm {
    margin-left: 5%;
}
@media (max-width: 667px)
.confirm {
    margin-left: 4%;
}
.confirm {
    text-align: center;
    width: 20%;
    position: relative;
    float: left;
    margin-left: 25%;

}
/*.confirm .pickup{background-color: #fff;}*/

/*.confirm .imgcircle, .process .imgcircle, .quality .imgcircle {
    background-color: #98D091;
}*/

@media (max-width: 414px)
.imgcircle {
    height: 70px;
    width: 70px;
    margin-left: 35%;
}
@media (max-width: 568px)
.imgcircle {
    height: 50px;
    width: 50px;
}
@media (max-width: 600px)
.imgcircle {
    height: 65px;
    width: 65px;
}
.confirm .imgcircle {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #95d462;
    position: relative;
}
.process .imgcircle {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #d6d7d8;
    position: relative;
}
.quality .imgcircle {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #d6d7d8;
    position: relative;
}


@media (max-width: 414px)
.imgcircle img {
    height: 30px;
    top: 27%;
    left: 28%;
}
@media (max-width: 568px)
.imgcircle img {
    height: 25px;
    top: 27%;
    left: 25%;
}
@media (max-width: 600px)
.imgcircle img {
    top: 26%;
    left: 27%;
}
.imgcircle img {
    height: 30px;
    position: absolute;
    top: 28%;
    left: 30%;
}

.confirm span.line, .process span.line {
    background-color: #98D091;
}

@media (max-width: 320px)
span.line {
    top: 115%;
    left: 46%;
}
@media (max-width: 375px)
span.line {
    top: 149%;
    left: 44.5%;
    height: 51px;
}
@media (max-width: 384px)
span.line {
    top: 154%;
    left: 44%;
    height: 52px;
}
@media (max-width: 414px)
span.line {
    width: 6px;
    left: 43.5%;
    height: 58px;
    top: 152%;
}
@media (max-width: 568px)
span.line {
    width: 56px;
    left: 47%;
}
@media (max-width: 600px)
span.line {
    width: 50px;
    left: 58%;
}
@media (max-width: 667px)
span.line {
    width: 49px;
    left: 60%;
}
@media (max-width: 736px)
span.line {
    width: 62px;
    left: 55%;
}
@media (max-width: 768px)
span.line {
    width: 72px;
    left: 51%;
}
@media (max-width: 900px)
span.line {
    width: 78px;
    left: 49%;
}
@media (max-width: 991px)
span.line {
    width: 84px;
    left: 47%;
}
@media (max-width: 1050px)
span.line {
    width: 84px;
    left: 47%;
}
@media (max-width: 1080px)
span.line {
    width: 88px;
    left: 46%;
}
@media (max-width: 1280px)
span.line {
    width: 80px;
    left: 48%;
    top: 29%;
}
@media (max-width: 1366px)
span.line {
    width: 90px;
    left: 45%;
}
@media (max-width: 1440px)
span.line {
    width: 99px;
    left: 43%;
}
@media (max-width: 1600px)
span.line {
    width: 117px;
    left: 39%;
}
@media (max-width: 1680px)
span.line {
    width: 127px;
    left: 37%;
}
@media (max-width: 1920px)
span.line {
    width: 157px;
    left: 32%;
}
span.line {
    height: 5px;
    width: 90px;
    background-color: #F5998E;
    display: block;
    position: absolute;
    top: 18%;
    left: 46%;
}

@media (max-width: 320px)
.content3 p {
    margin: -16% 0 0 -79%;
}
@media (max-width: 384px)
.content3 p {
    margin: -13% 0 0 -74%;
}
@media (max-width: 414px)
.content3 p {
    font-size: 15px;
    margin: -12% 0 0 -72%;
}
@media (max-width: 568px)
.content3 p {
    font-size: 10px;
    margin-left: -46%;
}
@media (max-width: 600px)
.content3 p {
    margin-left: -38%;
    font-size: 11px;
}
@media (max-width: 667px)
.content3 p {
    font-size: 12px;
    margin-left: -35%;
}
@media (max-width: 1024px)
.content3 p {
    font-size: 14px;
}
@media (max-width: 1440px)
.content3 p {
    margin-left: -53%;
}
@media (max-width: 1680px)
.content3 p {
    margin-left: -60%;
}
@media (max-width: 1920px)
.content3 p {
    margin-left: -65%;
}
.content3 p {
    margin-left: 6%;
    font-size: 15px;
    font-weight: 600;
    margin-top: 18px;
}
@media (max-width: 414px)
.process {
    width: 100%;
    margin: 22% 0 0 5%;
}

.process {
    position: relative;
    width: 20%;
    text-align: center;
    float: left;
}

@media (max-width: 414px)
.quality {
    width: 100%;
    margin: 22% 0 0 5%;
}
.quality {
    position: relative;
    width: 20%;
    text-align: center;
    float: left;
}


.clear {
    clear: both;
}