body {background-color: #ffffff;color: #444444;font-family: 'Roboto', sans-serif;font-size: 16px;font-weight: 300;  margin: 0;padding: 0;}
.wizard-content-left h1 {color: #ffffff;font-size: 38px;font-weight: 600;padding: 12px 20px;text-align: center;}
.wizard-fieldset h5{font-size:18px;}
.form-wizard {color: #888888;padding: 30px;background-color:#ffffff;}
.form-wizard .wizard-form-radio {display: inline-block;margin-left: 5px;position: relative;}
.form-wizard .wizard-form-radio input[type="radio"] {-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;appearance: none;background-color: #dddddd;height: 25px;width: 25px;display: inline-block;
  vertical-align: middle;border-radius: 50%;position: relative;cursor: pointer;}
.form-wizard .wizard-form-radio input[type="radio"]:focus {outline: 0;}
.form-wizard .wizard-form-radio input[type="radio"]:checked {background-color: #fb1647;}
.form-wizard .wizard-form-radio input[type="radio"]:checked::before {content: "";position: absolute;width: 10px;  height: 10px;display: inline-block; background-color: #ffffff;border-radius: 50%;left: 1px;right: 0;margin: 0 auto;  top: 8px;}
.form-wizard .wizard-form-radio input[type="radio"]:checked::after {content: "";display: inline-block;webkit-animation: click-radio-wave 0.65s;-moz-animation: click-radio-wave 0.65s;animation: click-radio-wave 0.65s;background: #000000;
  content: '';display: block;position: relative;z-index: 100;border-radius: 50%;}
.form-wizard .wizard-form-radio input[type="radio"] ~ label {padding-left: 10px;cursor: pointer;}
.form-wizard .form-wizard-header {text-align: center;}
.form-wizard .form-wizard-header h6{font-size:31px; text-align: center;}
.form-wizard .form-wizard-next-btn, .form-wizard .form-wizard-previous-btn, .form-wizard .form-wizard-submit {  background-color: #3d79aa;color: #ffffff;display: inline-block;min-width: 100px;min-width: 120px;padding: 10px;  text-align: center;}
.form-wizard .form-wizard-next-btn:hover, .form-wizard .form-wizard-next-btn:focus, .form-wizard .form-wizard-previous-btn:hover, .form-wizard .form-wizard-previous-btn:focus, .form-wizard .form-wizard-submit:hover, .form-wizard .form-wizard-submit:focus {color: #ffffff;opacity: 0.6;text-decoration: none;}
.form-wizard .wizard-fieldset {display: none;}
.form-wizard .wizard-fieldset.show {display: block;}
.form-wizard .wizard-form-error {display: none;background-color: #d70b0b;position: absolute;left: 0;right: 0;bottom: 0;
  height: 2px; width: 100%;}
.form-wizard .form-wizard-previous-btn {background-color: #fb1647;}
.form-wizard .form-control {
  font-weight: 300;
  height: auto !important;
  padding: 15px;
  color: #888888;
  background-color: #f1f1f1;
  border: none;
}
.form-wizard .form-control:focus {
  box-shadow: none;
}
.form-wizard .form-group {
  position: relative;
  margin: 25px 0;
}
.form-wizard .wizard-form-text-label {
  position: absolute;
  left: 10px;
  top: 16px;
  transition: 0.2s linear all;
}
.form-wizard .focus-input .wizard-form-text-label {
  color: #d65470;
  top: -18px;
  transition: 0.2s linear all;
  font-size: 12px;
}
.form-wizard .form-wizard-steps {
  margin: 30px 0;
}
.form-wizard .form-wizard-steps li {
  width: 20%;
  float: left;
  position: relative;
}
.form-wizard .form-wizard-steps li::after {
  background-color: #f3f3f3;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.form-wizard .form-wizard-steps li span {
  background-color: #dddddd;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 1;
}
.form-wizard .form-wizard-steps li:last-child::after {
  width: 50%;
}
.form-wizard .form-wizard-steps li.active span, .form-wizard .form-wizard-steps li.activated span {
  background-color: #3d79aa;
  color: #ffffff;
}
.form-wizard .form-wizard-steps li.active::after, .form-wizard .form-wizard-steps li.activated::after {
  background-color: #3d79aa;
  left: 50%;
  width: 50%;
  border-color: #3d79aa;
}
.form-wizard .form-wizard-steps li.activated::after {
  width: 100%;
  border-color: #3d79aa;
}
.form-wizard .form-wizard-steps li:last-child::after {
  left: 0;
}
.form-wizard .wizard-password-eye {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
@keyframes click-radio-wave {
  0% {
    width: 25px;
    height: 25px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    width: 60px;
    height: 60px;
    margin-left: -15px;
    margin-top: -15px;
    opacity: 0.0;
  }
}
@media screen and (max-width: 767px) {
  .wizard-content-left {
    height: auto;
  }
}


/* Summary Right Section Start*/
.vue-sidebar {background: #fdfdfd;padding:10px 30px;box-shadow: 0 0 20px rgb(219 224 234);box-shadow: 0 0 20px rgb(219 224 234 / 60%);}
.vue-sidebar .sidebar-title {position: relative;width:100%;margin: auto;margin-bottom: 15px;background-color: #0f8be1;    padding: 15px 25px;width: 100%;color:#fff;font-size:21px;border-radius:10px 10px 0 0;}
.vue-sidebar .v-order-box .order-step h4{color: #3d79aa; font-size: 14px !important; text-align:left;}
.order-step p {color: #212529;font-size: 14px;}
.vue-sidebar .v-order-box .order-edit i {color: #121212;cursor: pointer;margin-top:18px;}


hr.dashed {border-top: 1px dashed #C0C4CC;margin: 10px 0;}
.text-center {text-align: center!important;}
.vue-sidebar .v-order-box {display: flex; justify-content: space-between; align-items: flex-start;}

.odrsummary{background-color:#0f8be1;padding:20px;font-size:21px;color:#fff;font-weight:700;text-align:center}

.sidebox{background:#fff;padding:5px 10px 20px 10px; border-radius: 0px 0px 10px 10px;}
/* Summary Right Section END*/
.mt10{margin-top:10px;}
/* Services Start*/
.services-container .service-box {padding:20px 0 20px 0;transition: all 0.2s linear;position: relative;margin:0 0 20px 0}
.services .service-box {-webkit-transition: all 0.5s ease;transition: all 0.5s ease;}
.shadow-box {box-shadow: 0 0 20px rgb(219 224 234 / 60%);}
.media {display: -ms-flexbox;display: flex;-ms-flex-align: start;align-items: flex-start;}

/* .service-box i.fa {padding:5px 7px;background: #0d8ce7;border-radius: 50%;transition: all 0.2s linear;color:#fff;   box-shadow: 2px 4px 8px 0px rgb(205 213 230);position: absolute;top: -10px;right: -10px;cursor: pointer;} */
.service-box i.fa {
    padding: 3px 5px;
    background: #0d8ce7;
    border-radius: 50%;
    transition: all 0.2s linear;
    color: #fff;
    box-shadow: 2px 4px 8px 0px rgb(205 213 230);
    position: absolute;
    top: 25px;
    right: 0px;
    cursor: pointer;
}
.services-container .service-box img {width: 120px;margin-right: 30px;/* max-width: inherit !important; */}
.service-box i.fa:hover {background: #0d8ce7;}
i.fa-minus {display: none;}
.shadow-box {box-shadow: 0 0 20px rgb(219 224 234 / 60%);}
.service-box .media-body p {width: 90%;}
.media-body h4{font-size:14px;text-transform: capitalize;margin:0 0 20px 0}
.media-body p{font-size:16px;}
.add{margin:15px 0 0 0;}
.added.active {display: block; color: white;background: #92bd3e;padding: 2px 9px;width: 65px;position: absolute;top:41%;right: -10px;overflow: visible;}
i.fa-minus.show {display: block;}
i.wash {display: none;}
i.wash.show {display: block;}

.add_here ul.services-list {list-style: none;padding: 0;}
.add_here .services-list li {color: #6c757d;border: 2px dashed #ddd;padding: 5px 10px;width: max-content;font-size:14px;}

/* .services-container .service-box:hover {transform: translateY(-10px);} */
/* Price Section Start */
.prices-item-left {width: 100%;}
.service-box .prices-item img {width: 40px;margin-right: 20px;}
.prices-item-name {position: relative;text-align: left;font-size: 14px;color: #121212;font-size: 12px;font-weight:500;}
.prices-item-price {width:100px;text-align: center;font-size: 14px;font-weight: 600;}
.prices-item {
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.04em;
    line-height: 1.6;
    width: 100%;
    display: flex;
    height: 75px;
    padding: 0px 14px 0px 14px;
    border-radius: 11px;
    border: 1px dashed #121212;
    box-shadow: 0 9px 16px 0 rgb(28 121 192 / 5%);
}
/* Price Section END */
/* Services END*/
/* Collection Start */
.form-row {display: -ms-flexbox;display: flex;-ms-flex-wrap:wrap;flex-wrap: wrap; margin-right: -5px; margin-left:-5px;}
#laundryForm .form-row > .col, .form-row > [class*=col-] {padding-right: 15px;padding-left: 15px;}
#laundryForm .dropdown {margin-bottom: 15px;}
#laundryForm .btn.dropdown-toggle {background: white;width: 100%;height: 48px;font-weight: 100;text-align: left;    color: black !important;box-shadow: 0 0 20px rgb(219 224 234 / 60%) !important;border: none !important;    padding-right: 7px;}
#laundryForm .dropdown .dropdown-menu {max-height: 200px;overflow-y: auto;width: 100%;}
#laundryForm .btn.dropdown-toggle i.fa.fa-angle-down {float: right;font-size: 15px;}
/* Collection END */
/* Vertical TAb Start */
.nav-tabs {border: 0;padding: 0 !important;}
.tabs-left, .tabs-right {border-bottom: none;padding-top: 2px;}
.tabs-left {border-right: 1px solid #ddd;}
.tabs-right {border-left: 1px solid #ddd;}
.tabs-left>li, .tabs-right>li {float: none;margin-bottom: 2px;}
.tabs-left>li {margin-right: -1px;}
.tabs-right>li {margin-left: -1px;}
.tabs-left>li.active>a,.tabs-left>li.active>a:hover,.tabs-left>li.active>a:focus {border-bottom-color: #ddd;border-right-color: transparent;color:#0f8be1;cursor: pointer;}
.tabs-right>li.active>a,.tabs-right>li.active>a:hover,.tabs-right>li.active>a:focus {border-bottom: 1px solid #ddd;
  border-left-color: transparent;}
.nav > li > a:hover, .nav > li > a:focus {text-decoration: none;background-color: #f3fffe;}
.tabs-left>li>a {border-radius: 4px 0 0 4px;margin-right: 0;display:block; color:#0f8be1;font-size: 16px;font-weight: 400;}
.tabs-right>li>a {border-radius: 0 4px 4px 0;margin-right: 0;}
.sideways {margin-top:50px;border: none;position: relative;}
.sideways>li {height: 20px;width: 120px;margin-bottom: 100px;}
.sideways>li>a {border-bottom: 1px solid #ddd;border-right-color: transparent;text-align: center;border-radius: 4px 4px 0px 0px;}
.sideways>li.active>a,.sideways>li.active>a:hover,.sideways>li.active>a:focus {border-bottom-color: transparent;  border-right-color: #ddd;border-left-color: #ddd;}
.sideways.tabs-left {left: -50px;}
.sideways.tabs-right {right: -50px;}
.sideways.tabs-right>li {-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);transform: rotate(90deg);}
.sideways.tabs-left>li {-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);transform: rotate(-90deg);}
/* Vertical TAb END */
.form-group .btn_address{font-family: "Poppins", sans-serif;font-size: 14px;color: #fff;padding: 16px 25px 16px 25px;border: 0; font-weight: 600;-webkit-border-radius: 3;margin-top: 4px;-moz-border-radius: 3;-ms-border-radius: 3;border-radius: 3;}
.c1{color:#fff;}
.mt35{margin-top:35px;}

